- var data = env.helpers.getLocalizedContent(contents, page, 'sections/proficiencies.json')
div.curved-border
section.proficiencies#proficiencies
	h2= data.header
	ul
		each prof, i in data.proficiencies
			- var profClass = prof.mobile ? "show-small-screen" : ""

			//- IMPORTANT
			//- Pipe syntax is used to remove spaces between inline-block element.

			if i == 0
				| <li class="#{profClass}">
			else
				| ><li class="#{profClass}">

			//- Header for current proficient
			h3(class="#{prof.class || ''}")
				//- Icon and header
				span(class="emblem #{prof.icon}")
				span #{prof.name}
			//- List items
			- var listClass = "";
			if prof["pipe-separated"]
				- listClass = listClass + " pipe-separated "
			if prof.mobile
				- listClass = listClass + " small-screen-collapsable "					
			ul(class="#{listClass}")
				each item, j in prof.items
					if j == prof.items.length - 1
						li(class="ie-last-child")!= item
					else
						li!= item
			| </li

		//- Very last element closing tag
		>