footer
    //- IMPORTANT
    //- Pipe syntax is used to remove spaces between inline-block element.
    //- <li /> elements are generated as plain html text and their content
    //- has no indendation to preven jaid render error.

    - var data = env.helpers.getLocalizedContent(contents, page, 'footer.json')

    | <article class="contacts">
    h4= data.contacts.header
    address
        p!= data.contacts.address
        - if (data.contacts.phone)
            p!= data.contacts.phone
        ul
            each email in data.contacts.emails
                li!= email
    | </article
    | ><article class="feedback" id="feedback">
    h4= data.feedback.header
    p!= data.feedback.message
    form(method="post", action="sendmail.php")
        input(type="text", name="name", value="", placeholder="#{data.namePlaceholder}")
        input(type="tel", name="tel", value="", id="phoneNum", placeholder="#{data.telPlaceholder}")
        input(type="email", name="email", value="", placeholder="#{data.emailPlaceholder}")
        textarea(name="message", placeholder="#{data.messagePlaceholder}", rows=3)
        input(type="hidden", name="location", value="")
        button.clearfix(type="submit")= data.sendButton
    | </article
    | ><article class="hire">
    h4= data.job.header
    p!= data.job.message
    - if (data.job.email)
        p!= data.job.email
    | </article>
    a.figures-scroll-up(href="#welcome")