header#header
    a(href="#welcome")
        div.logo
    nav
        h3.menu-holder
            span.figures-menu
        ul.language
            - var data = contents['header.json'].metadata
            - var languages = data.languages
            - for (var i=0; i < languages.length; i++) {
            -   var lang = languages[i]
                li
                    a(href="#{lang.path}", name="#{lang.name}") #{lang.name}
            - }
        ul.small-screen-collapsable.collapsed
            - var anchors = data.navigation
            - for (var i=0; i < anchors.length; i++) {
            -   var anchor = anchors[i]
                li
                    a(href="#{anchor.path}") #{anchor.name}
            - }